/*創造16*16格線*/
.container {
    display: grid;
    margin: 0 auto;
    width: 700px;
    height: 700px;
    grid-template-columns: repeat(16, 1fr);
}
.grid-item {
    border: 1px solid #ddd;
}



button {
    width: 100px;
    height: 30px;
    margin: 30px;
}